version: 2
updates:
  - commit-message:
      include: "scope"
      prefix: "ci"
    directory: "/"
    labels:
      - "dependencies"
    open-pull-requests-limit: 10
    package-ecosystem: "github-actions"
    schedule:
      interval: "weekly"
