<?xml version="1.0"?>
<ruleset name="controlling">
    <description>The brainbits coding standard.</description>

	<file>Brainbits</file>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="Brainbits" />
</ruleset>
