<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage/>
  <testsuites>
    <testsuite name="bb">
      <directory>tests/Brainbits/Sniffs</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">Brainbits/Sniffs</directory>
    </include>
  </source>
</phpunit>
